/*doc
---
title: Leading 
name: leading
parent: typography
---

The space between lines of type is traditionally known as leading. We define our web-leading as line-height, this controls the vertical rhythm of the typographic grid. Leading will be defined as part of the typography system with the exceptional helper class to break the rules where needed.

*/