//horizontal nav 
$horizontalNavItem: $base-e;
$horizontalNavDropdownItem: $base-e;

$headerLearningCenterItemHoverBg: $complementary-e;
$headerLearningCenterItemHover: $base-e;

//vertical nav
$color-verticalNav-listGroupItem: $base-e;
$color-verticalNav-linkGroup: $base-e;
$color-verticalNav-listGroupItem-Active: $brand-e;
$color-pdpNav-listGroupItem: $base-e;
$color-pdpNav-listGroupItem: $base-e;

//footer
$footerBarBg: $base-e;

//tab box
$color-tabBox-navTab: $linkColor;
$color-tabBox-navTab-Active: $base-e;

//cat callout
$categoryCalloutContainerTitle: $base-e;

//header
$headerIconContainerDropdownItemMdLg: $base-e;

$headerUserCodeBlockText: $base-e;
$headerSearchInputText: $base-e;

//pdp
$pdpProductSpecsOddRowBgXS: $complementary-b;
$pdpProductSpecsOddRowBg: $complementary-b;

//panels
$panelEmphasizedBorder: $complementary-c;
$panelEmphasizedHeadingBg: $complementary-b;

$primaryColor:$base-e;

//packery
$packeryContentTag: $base-e;
$packeryContentTagBg: rgba(255,255,255,0.8);

//subcat boxes
$color-catCallout-contentTag: $base-a;
$color-catCallout-contentTag-Bg: rgba(48, 48, 48, .8);
