// placeholder font variables.
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: "Times New Roman", Times, serif;
$font-family-brand: "Helvetica Neue", Helvetica, Arial, sans-serif;

//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace: Monaco, "Courier New", monospace;
$font-family-base: $font-family-sans-serif;
