//base
$linkColor: $brand-d;
$linkColorHover: $brand-d;

//horizontal nav
$horizontalNavItem: $brand-d;
$horizontalNavItemHover:$brand-d;
$horizontalNavItemBorder: $brand-d;
$horizontalNavItemBg: $base-a;
$horizontalNavDropdownBorder: $brand-d;
$horizontalNavDropdownItem: $brand-d;
$horizontalNavDropdownItemBg:  $base-a;
$horizontalNavDropdownItemHover: $brand-d;
$horizontalNavDropdownItemBorder: $brand-b;
$horizontalNavBgMdLg: $brand-e;
$horizontalNavDropdownBorderMdLg: $brand-d;
$horizontalNavDropdownItemHoverBgMdLg: $base-e;
$horizontalNavDropdownItemBgMdLg: $base-a;
$horizontalNavDropdownItemBorderMdLg: $brand-b;

//header
$headerLearningCenterItem: $brand-e;
$headerLearningCenterItemBg: $base-b;
$headerLearningCenterItemHoverBg:$brand-b;
$headerIconContainerDropdownItemMdLg: $brand-d;
$headerIconContainerDropdownItemHoverMdLg: $brand-d;
$headerIconContainer: $brand-d;
$headerSearchIconBg: $brand-d;
$headerLearningCenterItem: $brand-d;



//footer
$footerBarBg: $brand-e;
$footerMenuBorder: $brand-b;
$footerMenuItemBg: $base-a;

//buttons
$buttonDefaultText: $brand-d;
$buttonDefaultBorder: $brand-d;
$buttonDefaultHoverText: $brand-d;
$buttonDefaultHoverBg: $brand-a;

$buttonCompCtaText: $brand-e;
$buttonCompCtaBg: $complementary-a;
$buttonCompCtaBorder: $complementary-c;
$buttonCompCtaHoverText: $brand-e;
$buttonCompCtaHoverBg: $complementary-b;

//panels
$panelEmphasizedBorder: $brand-b;
$panelEmphasizedHeadingBg: $brand-a;

//pdp
$pdpFeatureReviewIcon: $brand-d;
$pdpWriteReviewLink: $brand-d;
$pdpDetailsAltOpenBox: $brand-d;
$pdpFoldMenuTopBottomBorder: $brand-d;
$pdpFoldMenuTitle: $brand-d;
$pdpDescriptionFoldMenuBottomBorder: $brand-d;
$pdpProductSpecsOddRowBgXS: $brand-a;
$pdpProductSpecsOddRowBg: $brand-a;

$productPriceBlockEstDeliveryTitleIcon: $brand-d;
$productPriceBlockEstDeliveryLocationText: $brand-d;

//sliders
$sliderIcon: $brand-d;

//vertical nav
$color-verticalNav-listGroupItem: $brand-d;
$color-verticalNav-listGroupItem-Hover: $brand-d;

$color-verticalNav-linkGroup: $brand-d;
$color-verticalNav-linkGroup-Hover: $brand-e;   $color-verticalNav-linkGroup-Hover: $brand-d;

//pdp nav
$color-pdpNav-listGroupItem: $brand-d;

//tab box
$color-tabBox-navTab: $brand-d;


