
//horizontal nav
$horizontalNavItem: $brand-d;
$horizontalNavItemBg: $base-a;
$horizontalNavItemHover:$brand-d;
$horizontalNavItemHoverBg: $complementary-a;
$horizontalNavItemBorder: $complementary-b;

$horizontalNavDropdownBorder: $brand-f;
$horizontalNavDropdownItem: $brand-d;
$horizontalNavDropdownItemBg:  $base-a;
$horizontalNavDropdownItemHoverBg: $complementary-a;
$horizontalNavDropdownItemHover: $brand-d;
$horizontalNavDropdownItemBorder: $complementary-b;

$horizontalNavBgMdLg: $complementary-e;
$horizontalNavDropdownBorderMdLg: $base-d;
$horizontalNavDropdownItemBgMdLg: $base-a;
$horizontalNavDropdownItemHoverBgMdLg: $base-e;
$horizontalNavDropdownItemBorderMdLg: $complementary-b;

//header


//footer
$footerBarBg: $complementary-e;
$footerMenuBorder: $complementary-b;
$footerMenuItemBg: $base-a;
$footerMenuItemHoverBg: $complementary-a;

//buttons
$buttonDefaultText: $brand-d;
$buttonDefaultBorder: $brand-f;
$buttonDefaultHoverText: $brand-d;
$buttonDefaultHoverBg: $brand-a;


$buttonCompCtaText: $base-a;
$buttonCompCtaBg: $brand-b;
$buttonCompCtaBorder: $brand-d;
$buttonCompCtaHoverText: $base-a;
$buttonCompCtaHoverBg: $brand-c;

//panels
$panelEmphasizedBorder: $base-c;
$panelEmphasizedHeadingBg: $brand-a;





