// living direct site specific color variables.

//greens 
$brand-a:     #F1FFF5;
$brand-b:     #21B260;
$brand-c:     #089746;
$brand-e:     #007733;
$brand-d:     #007733;
$brand-edark1: darken($brand-e, 7%);
$brand-edark2: darken($brand-e, 14%);
$brand-f:     #002E14;

//greys
$complementary-a:     #ededed;
$complementary-b:     #ABAAAA;
$complementary-c:     #7F7E7E;
$complementary-d:     #666666;
$complementary-e:     #494949;
$complementary-edark1: darken($complementary-e, 7%);
$complementary-edark2: darken($complementary-e, 14%);
$complementary-f:     #222222;

//greys
$base-a:     #fff;
$base-b:     #f2f2f2;
$base-c:     #e6e6e6;
$base-d:     #909090;
$base-e:     #303030;
$base-f:     #212121;

$system-a:     #ff9900; //emphasis or warning
$system-b:     #f47421; //add to cart
$system-bdark1: darken($system-b, 7%);
$system-bdark2: darken($system-b, 14%);
$system-c:     #60b760; //success
$system-d:     #bd4b4b; //error
$system-e:     #cc0000; //discount or savings
$system-edark1: darken($system-e, 7%);
$system-edark2: darken($system-e, 14%); 
$system-f:     #990000; //final price

