//base
$linkColor: $brand-d;

//horizontal nav
$horizontalNavItem: $brand-d;
$horizontalNavItemBg: $base-a;
$horizontalNavItemHover:$brand-d;
$horizontalNavItemHoverBg: $complementary-a;
$horizontalNavItemBorder: $complementary-b;

$horizontalNavDropdownBorder: $brand-f;
$horizontalNavDropdownItem: $brand-d;
$horizontalNavDropdownItemBg:  $base-a;
$horizontalNavDropdownItemHoverBg: $complementary-a;
$horizontalNavDropdownItemHover: $brand-d;
$horizontalNavDropdownItemBorder: $complementary-b;

$horizontalNavBgMdLg: $brand-e;
$horizontalNavDropdownBorderMdLg: $base-d;
$horizontalNavDropdownItemBgMdLg: $base-a;
$horizontalNavDropdownItemHoverBgMdLg: $base-e;
$horizontalNavDropdownItemBorderMdLg: $complementary-b;

//header
$headerLearningCenterItem: $brand-e;
$headerLearningCenterItemBg: $complementary-a;
$headerLearningCenterItemHoverBg:$brand-edark1;
$headerIconContainerDropdownItemHoverBgMdLg: $complementary-a;
$headerIconContainer: $brand-e;

$headerSearchIconBg: $brand-e;

//footer
$footerBarBg: $brand-e;
$footerMenuBorder: $complementary-b;
$footerMenuItemBg: $base-a;
$footerMenuItemHoverBg: $complementary-a;

//buttons
$buttonDefaultText: $brand-d;
$buttonDefaultBorder: $brand-f;
$buttonDefaultHoverText: $brand-d;
$buttonDefaultHoverBg: $complementary-a;

$buttonPrimaryBg: $brand-d;

$buttonCompCtaText: $base-a;
$buttonCompCtaBg: $brand-b;
$buttonCompCtaBorder: $brand-d;
$buttonCompCtaHoverText: $base-a;
$buttonCompCtaHoverBg: $brand-c;

//panels
$panelEmphasizedBorder: $complementary-b;
$panelEmphasizedHeadingBg: $complementary-a;

//pdp
$pdpFeatureReviewIcon: $brand-d;
$pdpWriteReviewLink: $brand-d;
$pdpDetailsAltOpenBox: $brand-d;
$pdpFoldMenuTopBottomBorder: $brand-d;
$pdpFoldMenuTitle: $brand-d;
$pdpDescriptionFoldMenuBottomBorder: $brand-d;

$productPriceBlockEstDeliveryTitleIcon: $brand-d;
$productPriceBlockEstDeliveryLocationText: $brand-d;

//sliders
$sliderIcon: $brand-d;

//vertical nav
$color-verticalNav-listGroupItem: $brand-d;
$color-verticalNav-listGroupItem-Hover: $brand-d;

$color-verticalNav-linkGroup: $brand-d;
$color-verticalNav-linkGroup-Hover: $brand-e;   
$color-verticalNav-linkGroup-Hover: $brand-d;
$color-verticalNav-linkGroup-Hover-Bg: $complementary-a;

$color-verticalNav-listItem-Hover-Bg: $complementary-a;

//pdp nav
$color-pdpNav-listGroupItem: $brand-d;
$color-pdpNav-listGroupItem-Hover-Bg: $complementary-a;


//tab box
$color-tabBox-navTab: $brand-d;


