/*doc
---
title: Select Fields
name: select-fields
category: Atoms
---

Document select field here. See [text field documentation] [text-field] for more info.

```html_example


 <input type="text" class="form-control" placeholder="User input" aria-describedby="sizing-addon2">


```

*/