/*doc
---
title: Text Fields
name: text-fields
parent: select-fields
---

Document text fields here.

```html_example


 <input type="text" class="form-control" placeholder="input text" aria-describedby="sizing-addon2">


```

*/