/*doc
---
title: Typography
name: typography
category: Atoms
---

Typography is an important element that makes up our websites presentation and structure. The font families used span from display to body font sizes. These specified fonts choices and rules make up our whole typographic system. The uses of type will be explained here.

*/