/*doc
---
title: Colors
name: colors
category: Atoms
---

These are the **primary** theme colors that make up the web color pallet. There are additional colors available that are used to add depth and enrich this experience. Within the complementary, system and base color pallet you can extend the primary brand colors.

<div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class="card bg-color-base-a bdr-color-base-c">
            <span>
                <code>$color-base-a</code><br>
                <code>#ffffff</code>
            </span>
        </div>
        <p class="center-block">
            <strong>Base Palette</strong><br>
            The base color for the site and all neutral background content.
        </p>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class="card bg-color-brand-b bdr-color-brand-c">
            <span>
                <code>$color-brand-b</code><br>
                <code>#850325</code>
            </span>
        </div>
        <p class="center-block">
            <strong>Brand Palette</strong><br>
            The primary brand color is used for active brand elements.
        </p>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class="card bg-color-brand-d bdr-color-brand-e">
            <span>
                <code>$color-brand-a</code><br>
                <code>#850325</code>
            </span>
        </div>
        <p class="center-block">
            <strong>Brand Palette</strong><br>
            A secondary brand color is related to the primary brand.
        </p>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class="card bg-color-base-b bdr-color-base-c">
            <span>
                <code>$color-base-b</code><br>
                <code>#f2f2f2</code>
            </span>
        </div>
        <p class="center-block">
            <strong>Base Palette</strong><br>
            The base background color for ui elements with a neutral base.
        </p>
    </div>
</div>

*/

// wine cooler direct site specific color variables.

//purple 
$brand-a:     #850325;
$brand-b:     #850325;
$brand-c:     #850325;
$brand-e:     #850325;
$brand-d:     lighten($brand-e, 7%);
$brand-edark1: darken($brand-e, 7%);
$brand-edark2: darken($brand-e, 14%);
$brand-f:     #660322;

//golds
$complementary-a:     #fefaef;
$complementary-b:     #f4ebd1;
$complementary-c:     #eadbb3;
$complementary-d:     #dfcc95;
$complementary-e:     #d5bc77;
$complementary-edark1: darken($complementary-e, 7%);
$complementary-edark2: darken($complementary-e, 14%);
$complementary-f:     #dead52;

//greys
$base-a:     #fff;
$base-b:     #f2f2f2;
$base-c:     #e6e6e6;
$base-d:     #909090;
$base-e:     #303030;
$base-f:     #212121;

$system-a:     #ff9900; //emphasis or warning
$system-b:     #168e60; //add to cart
$system-bdark1: darken($system-b, 7%);
$system-bdark2: darken($system-b, 14%);
$system-c:     #60b760; //success
$system-d:     #bd4b4b; //error
$system-e:     #cc0000; //discount or savings
$system-edark1: darken($system-e, 7%);
$system-edark2: darken($system-e, 14%); 
$system-f:     #990000; //final price

