/*doc
---
title: Feedback
name: feedback
category: Atoms
---

Any informative elements or interactions with alerts, progress and feedback mechanisms.

```html_example

<div class="alert alert-warning">
EXAMPLE: For more important information regarding content or action. <a href="#" data-toggle="modal" data-target="">Click here</a> 
</div>

```


*/