$font-family-base: $font-family-sans-serif;
$font-family-header: $font-family-brand;

$font-family-kitCustomizationHeader: $font-family-brand;
$font-family-footerCallout: $font-family-brand;
$font-family-socialIcons: $font-family-brand;
$font-family-headerPhoneNo: $font-family-brand; 
$font-family-navBarShopText: $font-family-brand;
$font-family-titleBlockProductBrand: $font-family-brand;
$font-family-titleBlockProductName: $font-family-brand;
$font-family-dropdownMenuViewAll: $font-family-brand;
$font-family-productMapNotification: $font-family-brand;
$font-family-kitCardPrice: $font-family-brand;

$font-family-affirmLearnMore: $font-family-base;
$font-family-titlePlainText: $font-family-base;
$font-family-productTitleModelNumber: $font-family-base;
