/*doc
---
title: Badges
name: badges
category: Atoms
---

Look at that badge being a <span>bad***</span> badger.


```html_example

<button class="btn btn-primary" type="button">
  Messages <span class="badge">4</span>
</button>

```


*/