/*doc
---
title: Buttons
name: buttons
category: Atoms
---

If your call to action (cta) performs an action, such as submitting a form or triggering some javascript event, then use a `<button>` element. A Primary button should only be used economically as per one primary cta per page is best practice, default and complementary buttons can be used as secondary to a primary cta.

```html_example
<button class="btn ld-btn-defaultCta" href="#">Default</button>
<button class="btn ld-btn-primaryCta" href="#">Primary</button>
<button class="btn ld-btn-compCta" href="#">Complementary</button>
```

*/ 
