/*doc
---
title: Colors
name: colors
category: Atoms
---

These are the **primary** theme colors that make up the web color pallet. There are additional colors available that are used to add depth and enrich this experience. Within the complementary, system and base color pallet you can extend the primary colors.

<div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class="card bg-color-base-a bdr-color-base-c">
            <span>
                <code>$color-base-a</code><br>
                <code>#ffffff</code>
            </span>
        </div>
        <p class="center-block">
            <strong>Base Palette</strong><br>
            The base color for the site and all neutral background content.
        </p>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class="card bg-color-brand-b bdr-color-brand-c">
            <span>
                <code>$color-brand-b</code><br>
                <code>#dd3300</code>
            </span>
        </div>
        <p class="center-block">
            <strong>Brand Palette</strong><br>
            The primary brand color is used for active brand elements.
        </p>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class="card bg-color-brand-d bdr-color-brand-e">
            <span>
                <code>$color-brand-f</code><br>
                <code>#bb3300</code>
            </span>
        </div>
        <p class="center-block">
            <strong>Brand Palette</strong><br>
            A secondary brand color is related to the primary brand.
        </p>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class="card bg-color-base-b bdr-color-base-c">
            <span>
                <code>$color-base-b</code><br>
                <code>#f2f2f2</code>
            </span>
        </div>
        <p class="center-block">
            <strong>Base Palette</strong><br>
            The base background color for ui elements with a neutral base.
        </p>
    </div>
</div>

*/

// kegerator site specific color variables.
$brand-a:     #fff;
$brand-b:     #dd3300;
$brand-c:     #dd3300;
$brand-d:     #dd3300;
$brand-e:     #cc3300;
$brand-edark1: darken($brand-e, 7%);
$brand-edark2: darken($brand-e, 14%);
$brand-f:     #bb3300;

//light hue orange
$complementary-a:     #f8faee;
$complementary-b:     #f9f8eb;
$complementary-c:     #bdb39c;
$complementary-d:     #dfcc95;
$complementary-e:     #7b6f5f;
$complementary-edark1: darken($complementary-e, 7%);
$complementary-edark2: darken($complementary-e, 14%);
$complementary-f:     #f6f4d9;

//greys
$base-a:     #fff;
$base-b:     #f2f2f2;
$base-c:     #e6e6e6;
$base-d:     #8a8989;
$base-e:     #303030;
$base-f:     #212121;

//alerts
$system-a:     #ff9900; //emphasis or warning
$system-b:     #168e60; //add to cart
$system-bdark1: darken($system-b, 7%);
$system-bdark2: darken($system-b, 14%);
$system-c:     #60b760; //success
$system-d:     #bd4b4b; //error
$system-e:     #cc0000; //discount or savings
$system-edark1: darken($system-e, 7%);
$system-edark2: darken($system-e, 14%); 
$system-f:     #990000; //final price

//base mapping
.bg-color-base-a  { background-color: $base-a;} 
.bdr-color-base-b, .bg-color-base-b  { border-color: $base-b; background-color: $base-b;} 
.bdr-color-base-c   {  border-color: $base-c;}
.bg-color-base-c    {  background-color:$base-c;}
.bdr-color-base-d, .bg-color-base-d { border-color: $base-d; background-color:$base-d;}
.bdr-color-base-e, .bg-color-base-e { border-color: $base-e; background-color:$base-e;}
.bdr-color-base-f, .bg-color-base-f { border-color: $base-f; background-color:$base-f;}

//brand mapping
.color-brand-a, .bg-color-brand-a  { color: $brand-a; background-color: $brand-a;} 
.color-brand-b, .bg-color-brand-b  { color: $brand-b; background-color: $brand-b;} 
.color-brand-c, .bg-color-brand-c  { color: $brand-c; background-color:$brand-c;}
.color-brand-d, .bg-color-brand-d  { color: $brand-d; background-color:$brand-d;}
.color-brand-e, .bg-color-brand-e  { color: $brand-e; background-color:$brand-e;}
.color-brand-f, .bg-color-brand-f  { color: $brand-f; background-color:$brand-f;}

//system mapping
.color-system-a, .bg-color-system-a  { color: $system-a; background-color: $system-a;} 
.color-system-b, .bg-color-system-b  { color: $system-b; background-color: $system-b;} 
.color-system-c, .bg-color-system-c  { color: $system-c; background-color:$system-c;}
.color-system-d, .bg-color-system-d  { color: $system-d; background-color:$system-d;}
.color-system-e, .bg-color-system-e  { color: $system-e; background-color:$system-e;}
.color-system-f, .bg-color-system-f  { color: $system-f; background-color:$system-f;}



