/*doc
---
title: Headings
name: headings
parent: typography
---

Headings or `<h1>, <h2>, <h3>` titles are used for the presentation and heirarchy of information on a page. Like a primary cta's it is best practice to keep your page titles limited to one h1 heading per page. It is common to use multiple headings, please denote the heirarchy of importance of each title to ensure best SEO practices.
 
```html_example

<h1>h1. 30px Heading</h1>
<h2>h2. 24px Heading</h2>
<h3>h3. 18px Heading</h3>
<h4>h4. 16px Heading</h4>
<h5>h5. 13px Heading</h5>
<h6>h6. 12px Heading</h6>

```

*/