// placeholder site specific color variables.
 
$brand-a:     pink;
$brand-b:     pink;
$brand-c:     pink;
$brand-e:     pink;
$brand-d:     pink;
$brand-edark1: pink;
$brand-edark2: pink;
$brand-f:     pink;

$complementary-a:     pink;
$complementary-b:     pink;
$complementary-c:     pink;
$complementary-d:     pink;
$complementary-e:     pink;
$complementary-edark1: pink;
$complementary-edark2: pink;
$complementary-f:     pink;

$base-a:     pink;
$base-b:     pink;
$base-c:     pink;
$base-d:     pink;
$base-e:     pink;
$base-f:     pink;

$system-a:     pink; //emphasis or warning
$system-b:     pink; //add to cart
$system-bdark1: pink;
$system-bdark2: pink;
$system-c:     pink; //success
$system-d:     pink; //error
$system-e:     pink; //discount or savings
$system-edark1: pink;
$system-edark2: pink;
$system-f:     pink; //final price

